{% extends 'base.html' %} 
{% load static %} {% block title %} About Page | DOCSUMMARIZER {% endblock title %} 
{% block content %}
<br>
<div class="container  text-center">
    <p><b>DOCSUMMARIZER</b> is an online platform that summarize based on your <b>uploaded Text File</b>.</br><b>Don't worry
     your File's are SAFE and SECURE</b></p>
</div>
{% comment %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">is an online platform that allows anyone to check NAMES of MALES and FEAMLES that is LIKELY or UNLIKELY to have any closed</p>
    </div>
</div> {% endcomment %}


<div class="p-5 m-5"></div>
<div class="p-5 m-5"></div>
<div class="p-5 m-5"></div>
{% endblock content %}